body {
    margin: 0;
    padding: 0;
}

header{
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    font-family: sans-serif;
    color: azure;
    justify-content: space-between;
    background-color: rgb(30, 30, 30);
}

h1{
    font-size: 26px;
}

#fgv{
    height: 100%;
    margin-right: 20px;
    cursor: pointer;
}

#quiz{
    margin-left: 15%;
    margin-right: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}


h2{
    display: flex;
    justify-content: center;
    align-items: center;
}

h3{
    display: flex;
    justify-content: center;
    align-items: center;
}

#enem-img{
    display: block;
    margin-left: 10%;
    margin-right: -10%;
    width: 80%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.quest{
    font-weight: bold;
    margin-bottom: 30px;
}

.answer{
    display: line;
    font-weight: normal;
    font-size: 16px;
}

.result{
    font-family: sans-serif;
    font-size: 32;
}

.null{
    display: none;
}

.return{
    background-color:rgb(191, 68, 68);
    color: black;
    font-size: larger;
    width: 60%;
    margin-right: -20%;
    margin-left: 20%;
    margin-top: 20px;
    
}

.special{
    color: brown;
}

#init{
    display: block;
    background-color: rgb(0, 89, 158);
    font-size: larger;
    width: 30%;
    margin-right: -30%;
    margin-left: 30%;
    margin-top: 20px;
}